@using NewsMedia.Infrastructure.DTOS.Entities.Tag.Get
@model List<GetTagDto>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>





<div class="col-lg-3 col-md-6 mb-5">
    <h5 class="mb-4 text-white text-uppercase font-weight-bold">Categories</h5>
    <div class="m-n1">
        @foreach (var item in Model)
        {
            <a href="" class="btn btn-sm btn-secondary m-1">@item.Name</a>
        }
    </div>
</div>